[
    {chronica, [
        {rules, [
            {all_errors, "*", error, [default, screen]}
        ]},
        {flows, [{default, [
            {file, [{name, "logs"}]}]},
            {screen, [{tty, [{format, short}]}]}
        ]},
        {formats, [
            {default, "%H:%Mi:%S %Priority %Message"},
            {short, "[%Module:%Line] %Message"}
        ]},
        {active, true},
        {data_root, "/tmp"}
    ]}
].
